
  $primary-color: #006838;
  $light-color: #93ab9d;
  $text-color: #1E1E1E;
  $highlight-color: #007bff;
  $border-radius: 10px;




//스크롤이벤트 감지

.fixed{
  //스크롤 시작
  #hd{
 
    background: rgba(255, 255, 255, 0.5); /* 반투명 배경 */
    backdrop-filter: blur(10px); /* 배경 흐리게 */
    -webkit-backdrop-filter: blur(10px); /* Safari 지원 */
  }
  &.scrollup{
    #hd{
      transform: translateY(-100%)
    }
  }
}


#hd{

  transition: 0.5s;
    .logo_container {
      @media (max-width:320px) {
        
        
        width: 32px;
        height: 31px;
      }
    }
   
  .reservation{
      @media (max-width:320px){  
      margin-top: 30px;
      margin-right: 40px;
      }
  }
  .hamburger-menu {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-left: 15px;
  }

  .hamburger-menu span {
    display: block;
    width: 22px;
    height: 2px;
    background-color: $text-color; /* 햄버거 메뉴가 잘 보이도록 색상 설정 */
    transition: 0.3s ease;
  
  }
  .topmeun{
    margin-left: 3rem;

    &.wide{
      //펼침
      left: 0;
    }
    .closebtn{
      display: none;
      position: absolute;
      padding: 0;
    }
    @media (max-width:1024px) {

      margin-left: 0;
      position: fixed;
      height: 100vh;
      background-color: white;
      left: 100%;
      transition: 0.5s;
      width:100vw;
      right:0;
      top:0;
      .d1ul{
        flex-direction: column;
        justify-content: center !important;
      }
      .closebtn{
        right: 30px;
        top: 10px;
        display: block;
        border: none;
        font-weight:bold;
      }

      
      
    }
    
    .d1ul{
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
        flex-wrap: wrap;
        gap: 60px;
      // white-space: nowrap;
      &:before{
        content: "";
        display: block;
        position: absolute;
        top:100%;
        left:0; width:100%;
        background-color: #d0dbd5e3;
        height: 0;
        transition: 0.5s;

      }
      a{
        color:rgb(14, 13, 13);
        &:hover{
            font-weight: 600;
          }
          }
        
      
    
      &:hover{
        .d1li{
          padding: 0 1rem;
        }
        @media (min-width:1024px) {
          &:before{
            height: 280px;
          }
          .d2ul {
            height:280px !important;
            // background-color: red;
  
          }
          
        }
       
      }
      .d1li{
        display: inline-block;
        position: relative; 
        transition: 0.5s;

        &:hover{
         
          .d1a{
            color:#006838 !important; //대메뉴활성화
          }
        }

        a:hover{
          color:#006838 !important; //대메뉴활성화
          
        }


        .d1a {
          text-decoration: none;
          font-size: 19px;
          // padding: 0 22.37px;
          // font-family: 'Paperlogy 5 Medium';
          font-family: "Paperlogy 4 Regular";
          color: white;
          font-weight: 500;
          // letter-spacing: -0.085em;
          // font-family: "Noto Sans KR";
          display: flex;
          align-items: center;
          @media (max-width:1024px){
            font-size: 20px;
          }
        }
        .d2ul {
          height:0;
          overflow: hidden;
          transition: 0.5s;       
          width: max-content;
          white-space: nowrap;
          padding: 0;
          margin: 0;
          top: 100%; // 마우스오버시 내려오는 공간 위치 조정
          left: 0;
          min-width:150px; 
          &:before{
            content: "";
            display: block;
            height: 4rem;
          }     
          .d2li {
            padding: 5px 10px;
            text-align: center;
            font-size: 16px;
            line-height: 2;
            a {
              text-decoration: none;
            }
           
          }
          @media (max-width:1024px) {
            position: relative !important;
            height: auto;
            max-height: 0;
            &.over{
              max-height:200px;
            }            
          }
        }
        .d2ul.over {
          max-height: 300px; /* 필요에 따라 높이를 조정 */
          overflow: hidden;
        }
      }

      a:hover{
        color:#006838 !important; //대메뉴활성화
      }
    }
  }

.here{
  margin-right: 22.37px;
  width: 26.013px;
  height: 26.013px;
  @media (max-width:1024px){
    margin-right: 0px;
    width: 3rem;
  }
 }
.reservation-button {
  background-color: $primary-color;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 8px 15px;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.2s;
  display: flex;
  align-items: center;
  justify-content:center;
  gap: 5px;
  &:hover{
    background-color: #92aa9c;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  }

  @media (max-width:1024px) {
    width:1.7rem;
    height: 1.7rem;
    gap: 0;
    
    padding: 0;
    img{
      width:18px;
      height: auto;
    }


    span {
      display:none;
    }
    
   
    
  }
}
.navbar-toggler {
  border: none;
  background: transparent;
  font-size: 1.5rem;

  &:focus {
    outline: none;
  }
}

.collapse {
  display: none;

  &.show {
    display: block;
  }
}
}


// #jy_swiper{
// //메인슬라이드
//   &.swiper-container {
//     width: 100%;
//     height: v100;
//     margin: 0 auto;
//     overflow: visible;
//     position: relative;
//     // margin-bottom: 100px;
  
//     .swiper-wrapper {
//       display: flex;
//       align-items: center;
//     }
  
//     .swiper-slide {
//       flex-shrink: 0;
//       width: 1280px; // 메인 슬라이드 크기 고정
//       height: 600px; // 슬라이드 높이 변경
//       display: flex;
//       justify-content: center;
//       align-items: center;
//       overflow: hidden;
//       transition: transform 0.5s ease, opacity 0.5s ease;
//       border-radius: 20px;
//       @media (max-width:1024px){
//         height: 400px;
//       }
  
//       img {
//         width: 100%;
//         height: 100%;
//         object-fit: contain;
//         opacity: 0.5;
//         border-radius: 20px;
//         transition: transform 0.5s ease, opacity 0.5s ease;
//       }
//     }
  
//     /* 메인 슬라이드 */
//     .swiper-slide-active {
//       transform: scale(1);
//       opacity: 1;
  
//       img {
//         transform: scale(1);
//         opacity: 1;
//       }
//     }
  
//     /* 양 옆 슬라이드 */
//     .swiper-slide-prev,
//     .swiper-slide-next {
//       // width: 1200px; // 중앙과 크기 조정
//       // height: 670px; // 높이 동일하게 맞춤
//       transform: scale(0.9); // 크기 줄이기
//       opacity: 0.7;
//     }
//   }
  
//   /* 하단 막대 바 (페이지네이션) */
//   .swiper-pagination {
//     position: absolute;
//     bottom: 20px;
//     width: 100%;
//     display: flex;
//     justify-content: center;
//     gap: 10px; // 간격 조정
  
//     .swiper-pagination-bullet {
//       width: 50px;
//       height: 8px;
//       background-color: #e0e0e0;
//       border-radius: 5px;
//       cursor: pointer;
//       transition: background-color 0.3s ease;
//     }
  
//     .swiper-pagination-bullet-active {
//       background-color: #008000; // 활성화된 막대 색상
//     }
//   }
// }

//메인 슬라이드 손
.main_background {
  background-image: url('https://pawfectwave.vercel.app/img/main/Main_background1.svg'); /* 배경 이미지 */
  background-size: cover; /* 전체 화면에 꽉 차게 */
  position: relative; /* 자식 요소의 절대 위치를 위한 기준 설정 */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 전체 화면 높이 */
}

.slide{
   
   &.slide2{
    background-image: url('https://pawfectwave.vercel.app/img/main/Main_background1.svg'); /* 배경 이미지 */
   }
}

.hand {
  position: absolute;
  width: 600px; /* 손 이미지 크기 조정 */
  z-index: 1; /* 손 이미지가 강아지 이미지 아래에 오도록 설정 */
}

.dog1, .dog2 {
  position: absolute;
  width: 300px; /* 강아지 이미지 크기 */
  opacity: 0; /* 처음에는 보이지 않음 */
  transform: translateY(-100px); /* 화면 위에서 시작 */
  z-index: 2; /* 손보다 위에 위치 */
  margin-left: 100px;
}

@keyframes showDog1 {
  0% {
      opacity: 0; /* 처음에는 보이지 않음 */
      transform: translateY(-200px); /* 위에서 시작 */
  }
  50% {
      opacity: 1; /* 완전히 보이게 */
      transform: translateY(30px); /* 중간 위치 */
  }
  100% {
      opacity: 0; /* 사라지게 설정 */
      transform: translateY(30px);
      display: none;
  }
}

@keyframes showDog2 {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.dog1 {
  animation: showDog1 3s ease-out forwards; /* 첫 번째 강아지 등장 */
}

.dog2 {
  animation: showDog2 3s ease-out 3s forwards; /* 첫 번째 강아지 후 두 번째 강아지 등장 */
}

// 메인슬라이드 손 끝

// 메인슬라이드 3개 추가
#mainSwiper {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

/* 슬라이드 스타일 */
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  color: white;
  width: 100%; /* 슬라이드의 너비를 100%로 설정 */
  height: 100%; /* 슬라이드의 높이를 100%로 설정 */
}

/* 슬라이드 텍스트 */
.slide-text {
  font-size: 3rem;
  font-weight: bold;
  z-index: 1; /* 텍스트가 이미지 위에 나오도록 */
  position: relative;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* 텍스트 가독성을 위해 그림자 추가 */
}

/* 이미지 스타일 */
.swiper-slide img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

/* 버튼 스타일 */
.swiper-button-prev, .swiper-button-next {
  background: none; /* 배경 제거 */
  color: white; /* 텍스트 색상 설정 */
  border: none; /* 테두리 제거 */
  width: 100px; /* 버튼의 너비 설정 (필요에 따라 조정) */
  height: 30px; /* 버튼의 높이 설정 (필요에 따라 조정) */
  font-size: 50px; /* 글자 크기 설정 */
  opacity: 0.5;
  position: absolute; /* 절대 위치 설정 */
  top: 50%; /* 수직 중앙 정렬 */
  transform: translateY(-50%); /* 수직 중앙 정렬을 위한 변환 */
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: ''; /* 화살표 기호를 제거 */
}
.swiper-button-prev {
  left: 10px;
  
}

.swiper-button-next {
  right: 10px;
  
}


// 메인슬라이드 3개 추가 끝

#jh h1, h2 {
  font-family: "Paperlogy 4 Regular";
  font-weight: 400;
}

#jh h1 {
  font-size: 30px;
  color: $primary-color;
  margin-bottom: 40px;

}

#jh h2 {
  font-size: 18px;
  color: $text-color;
  margin-bottom: 15px;
}

#jh p {
  color: rgba($text-color, 0.7);
  font-family: "Paperlogy 3 Light";
  font-size: 18px;
  font-weight: 300;
}

.btn_petros{
  margin-top:24px;
  font-family: "Noto Sans KR";
  width: 130px;
  height: 30px;
  color: #1E1E1E;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
  background-color: #FFF;
  padding-bottom: 5px;
  border: none;
}
// .petros_box {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }



// .petros_wave{
//   width: 100%;
//   padding-top: 75%;
//   overflow: hidden;
//   border-radius: 20px 20px 20px 100px;
//   position: relative;
// }
.petros {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.petros_wave{
  width: 100%;
  overflow: hidden;
  position: relative;
}

.petros img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.petros_wave img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.petrossize {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* 텍스트 오른쪽 정렬 */
.text-box.text-end {
  text-align: right;
  padding-right: 130px;
}

/* 텍스트 왼쪽 정렬 */
.text-box.text-start {
  text-align: left;
  padding-left: 50px;
}

//하단 업체 슬라이드
.partner_list {
padding: 60px 0;

.partner_marquee {
  width: 100%;
  height: 220px;
  overflow: hidden;
  position: relative;
  margin: 30px 0;

  div {
    display: flex;
    height: 100%;
    position: absolute;
    overflow: hidden;
  }

  &#partner_marquee1 div {
    width: 7560px;
    animation: partner_marquee1 45s linear infinite;
    left: 0;
  }

  &#partner_marquee2 div {
    width: 7560px;
    animation: partner_marquee2 45s linear infinite;
    right: 0;
  }

  span {
    height: 100%;
    width: 270px;
    height: 220px;
    position: relative;
    display: block;
  }

  &#partner_marquee1 {
    div {
      span:nth-of-type(14n - 14) {
        background: url("http://petforest.co.kr/wp-content/themes/petforest/images/pt_logo_07_w.png") no-repeat 50% 50%;
        background-size: contain;
       
      }
      
      span:nth-of-type(14n - 13) {
        background: url("http://petforest.co.kr/wp-content/themes/petforest/images/pt_logo_01_w.png") no-repeat 50% 50%;
        background-size: contain;
       
      }

      span:nth-of-type(14n - 12) {
        background: url("http://petforest.co.kr/wp-content/themes/petforest/images/pt_logo_02_w.png") no-repeat 50% 50%;
        background-size: contain;
        
      }

      span:nth-of-type(14n - 11) {
        background: url("http://petforest.co.kr/wp-content/themes/petforest/images/pt_logo_03_w.png") no-repeat 50% 50%;
        background-size: contain;
      }

      span:nth-of-type(14n - 10) {
        background: url("http://petforest.co.kr/wp-content/themes/petforest/images/pt_logo_04_w.png") no-repeat 50% 50%;
        background-size: contain;
      }

      span:nth-of-type(14n - 9) {
        background: url("http://petforest.co.kr/wp-content/themes/petforest/images/pt_logo_05_w.png") no-repeat 50% 50%;
        background-size: contain;
      }

      span:nth-of-type(14n - 8) {
        background: url("http://petforest.co.kr/wp-content/themes/petforest/images/pt_logo_08_w.png") no-repeat 50% 50%;
        background-size: contain;
      }

      span:nth-of-type(14n - 7) {
        background: url("http://petforest.co.kr/wp-content/themes/petforest/images/pt_logo_12_w.png") no-repeat 50% 50%;
        background-size: contain;
      }

      span:nth-of-type(14n - 6) {
        background: url("http://petforest.co.kr/wp-content/themes/petforest/images/pt_logo_13_w.png") no-repeat 50% 50%;
        background-size: contain;
      }

      span:nth-of-type(14n - 5) {
        background: url("http://petforest.co.kr/wp-content/themes/petforest/images/pt_logo_14_w.png") no-repeat 50% 50%;
        background-size: contain;
      }

      span:nth-of-type(14n - 4) {
        background: url("http://petforest.co.kr/wp-content/themes/petforest/images/pt_logo_15_w.png") no-repeat 50% 50%;
        background-size: contain;
      }

      span:nth-of-type(14n - 3) {
        background: url("http://petforest.co.kr/wp-content/themes/petforest/images/pt_logo_16_w.png") no-repeat 50% 50%;
        background-size: contain;
      }

      span:nth-of-type(14n - 2) {
        background: url("http://petforest.co.kr/wp-content/themes/petforest/images/pt_logo_17_w.png") no-repeat 50% 50%;
        background-size: contain;
      }

      span:nth-of-type(14n - 1) {
        background: url("http://petforest.co.kr/wp-content/themes/petforest/images/pt_logo_09_w.png") no-repeat 50% 50%;
        background-size: contain;
      }

      span:nth-of-type(14n) {
        background: url("http://petforest.co.kr/wp-content/themes/petforest/images/pt_logo_10_w.png") no-repeat 50% 50%;
        background-size: contain;
      }
    }
  }
}

@keyframes partner_marquee1 {
  0% {
    left: 0;
  }
  100% {
    left: -3780px;
  }
}

@keyframes partner_marquee2 {
  0% {
    right: 0;
  }
  100% {
    right: -3780px;
  }
}

@media screen and (max-width: 1024px) {
  padding: 0 0 10vw;

  .partner_marquee {
    height: 176px;

    #partner_marquee1 div {
      width: 6048px;
      animation: partner_marquee1 45s linear infinite;
      left: 0;
    }

    #partner_marquee2 div {
      width: 6048px;
      animation: partner_marquee2 45s linear infinite;
      right: 0;
    }

    #partner_marquee1 span,
    #partner_marquee2 span {
      width: 216px;
      height: 176px;
    }
  }

  @keyframes partner_marquee1 {
    0% {
      left: 0;
    }
    100% {
      left: -3024px;
    }
  }

  @keyframes partner_marquee2 {
    0% {
      right: 0;
    }
    100% {
      right: -3024px;
    }
  }
}

@media screen and (max-width: 640px) {
  .partner_marquee {
    height: 132px;

    &#partner_marquee1 div {
      width: 4536px;
      animation: partner_marquee1 45s linear infinite;
      left: 0;
    }

    &#partner_marquee2 div {
      width: 4536px;
      animation: partner_marquee2 45s linear infinite;
      right: 0;
    }

    &#partner_marquee1 span,
    &#partner_marquee2 span {
      width: 162px;
      height: 132px;
    }
  }

  @keyframes partner_marquee1 {
    0% {
      left: 0;
    }
    100% {
      left: -2268px;
    }
  }

  @keyframes partner_marquee2 {
    0% {
      right: 0;
    }
    100% {
      right: -2268px;
    }
  }
}
}

/////////////////////////////////////////////////////////////////////////////////////

.faqtext{
  font-size: 2.5rem;
}

@media only screen and (min-width: 768px){
  .faqwrap {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 0;
}

  @media only screen and (min-width: 768px) {
    .faqwraptitle {
        font-size: 32px;
        letter-spacing: -0.1px;
        font-family: 'Roboto' !important;
        display: block;
        font-size: 30px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 16px;
        line-height: 43px;
    }
}
}

@media only screen and (min-width: 768px) {
  .faqwraptitlesub {
    margin: 0 0 60px 0;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 60px;
    text-align: center;
    line-height: 22px;
    letter-spacing: -0.5px;
    color: #2A303C;
    margin-top: 0;
}
}
html, body {
  height: 100%;
  margin: 0;
    overflow-y: auto;  /* 스크롤 활성화 */
}
section {
  min-height: 100vh; /* 화면의 최소 높이를 100vh로 설정 */
}
.container, .faqwrap {
  flex-grow: 1;  /* 남는 공간을 채우도록 설정 */
}

.faq-section {
  max-width: 1000px;
  margin: 0 auto;

  .faq-item {
      border-top: 1px solid #ddd;
      padding: 15px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      &:hover {
        background-color: #f3f3f3; /* 호버 시 배경색 변경 */
      }
      .faq-title {
          font-size: 16px;
          font-weight: bold;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px;
          
      }
      .btn .btn-outline-secondary{
        font-size: 1rem;
      }

      .category {
          color: #777;
          flex: 0 0 100px;
      }

      .question {
          flex-grow: 1;
      }

      .arrow {
        width: 8px;
        height: 8px;
        border-left: 2px solid gray;
        border-bottom: 2px solid gray;
        transform: rotate(-45deg); /* 아래쪽 화살표 스타일 */
        margin-right: 10px;
        transition: transform 0.3s ease;
    }
  

  
      .faq-content {
          display: none;
          padding-top: 10px;
          font-size: 14px;
          color: #555;

          &.active {
              display: block;
          }
      }
  }
}
.pagination {
  justify-content: center;
  display: flex;
  list-style-type: none;
  padding: 0;
}
.pagination li {
  margin: 0 5px;
}
.pagination li a {
  padding: 10px 15px;
  background-color: #f0f0f0;
  border-radius: 5px;
  text-decoration: none;
  color: #333;
}
.pagination li a:hover {
  background-color: #ddd;
}
.pagination li.active a {
  background-color: #006838;
  color: white;
}