@charset "UTF-8";
.fixed #hd {
  background: rgba(255, 255, 255, 0.5); /* 반투명 배경 */
  backdrop-filter: blur(10px); /* 배경 흐리게 */
  -webkit-backdrop-filter: blur(10px); /* Safari 지원 */
}
.fixed.scrollup #hd {
  transform: translateY(-100%);
}

#hd {
  transition: 0.5s;
}
@media (max-width: 320px) {
  #hd .logo_container {
    width: 32px;
    height: 31px;
  }
}
@media (max-width: 320px) {
  #hd .reservation {
    margin-top: 30px;
    margin-right: 40px;
  }
}
#hd .hamburger-menu {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-left: 15px;
}
#hd .hamburger-menu span {
  display: block;
  width: 22px;
  height: 2px;
  background-color: #1E1E1E; /* 햄버거 메뉴가 잘 보이도록 색상 설정 */
  transition: 0.3s ease;
}
#hd .topmeun {
  margin-left: 3rem;
}
#hd .topmeun.wide {
  left: 0;
}
#hd .topmeun .closebtn {
  display: none;
  position: absolute;
  padding: 0;
}
@media (max-width: 1024px) {
  #hd .topmeun {
    margin-left: 0;
    position: fixed;
    height: 100vh;
    background-color: white;
    left: 100%;
    transition: 0.5s;
    width: 100vw;
    right: 0;
    top: 0;
  }
  #hd .topmeun .d1ul {
    flex-direction: column;
    justify-content: center !important;
  }
  #hd .topmeun .closebtn {
    right: 30px;
    top: 10px;
    display: block;
    border: none;
    font-weight: bold;
  }
}
#hd .topmeun .d1ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}
#hd .topmeun .d1ul:before {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: rgba(208, 219, 213, 0.8901960784);
  height: 0;
  transition: 0.5s;
}
#hd .topmeun .d1ul a {
  color: rgb(14, 13, 13);
}
#hd .topmeun .d1ul a:hover {
  font-weight: 600;
}
#hd .topmeun .d1ul:hover .d1li {
  padding: 0 1rem;
}
@media (min-width: 1024px) {
  #hd .topmeun .d1ul:hover:before {
    height: 280px;
  }
  #hd .topmeun .d1ul:hover .d2ul {
    height: 280px !important;
  }
}
#hd .topmeun .d1ul .d1li {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
#hd .topmeun .d1ul .d1li:hover .d1a {
  color: #006838 !important;
}
#hd .topmeun .d1ul .d1li a:hover {
  color: #006838 !important;
}
#hd .topmeun .d1ul .d1li .d1a {
  text-decoration: none;
  font-size: 19px;
  font-family: "Paperlogy 4 Regular";
  color: white;
  font-weight: 500;
  display: flex;
  align-items: center;
}
@media (max-width: 1024px) {
  #hd .topmeun .d1ul .d1li .d1a {
    font-size: 20px;
  }
}
#hd .topmeun .d1ul .d1li .d2ul {
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  width: -moz-max-content;
  width: max-content;
  white-space: nowrap;
  padding: 0;
  margin: 0;
  top: 100%;
  left: 0;
  min-width: 150px;
}
#hd .topmeun .d1ul .d1li .d2ul:before {
  content: "";
  display: block;
  height: 4rem;
}
#hd .topmeun .d1ul .d1li .d2ul .d2li {
  padding: 5px 10px;
  text-align: center;
  font-size: 16px;
  line-height: 2;
}
#hd .topmeun .d1ul .d1li .d2ul .d2li a {
  text-decoration: none;
}
@media (max-width: 1024px) {
  #hd .topmeun .d1ul .d1li .d2ul {
    position: relative !important;
    height: auto;
    max-height: 0;
  }
  #hd .topmeun .d1ul .d1li .d2ul.over {
    max-height: 200px;
  }
}
#hd .topmeun .d1ul .d1li .d2ul.over {
  max-height: 300px; /* 필요에 따라 높이를 조정 */
  overflow: hidden;
}
#hd .topmeun .d1ul a:hover {
  color: #006838 !important;
}
#hd .here {
  margin-right: 22.37px;
  width: 26.013px;
  height: 26.013px;
}
@media (max-width: 1024px) {
  #hd .here {
    margin-right: 0px;
    width: 3rem;
  }
}
#hd .reservation-button {
  background-color: #006838;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 8px 15px;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  gap: 5px;
}
#hd .reservation-button:hover {
  background-color: #92aa9c;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}
#hd .reservation-button .reservation li a {
  text-decoration: none !important; /* 링크의 밑줄 제거 */
}
@media (max-width: 1024px) {
  #hd .reservation-button {
    width: 1.7rem;
    height: 1.7rem;
    gap: 0;
    padding: 0;
  }
  #hd .reservation-button img {
    width: 18px;
    height: auto;
  }
  #hd .reservation-button span {
    display: none;
  }
}
#hd .navbar-toggler {
  border: none;
  background: transparent;
  font-size: 1.5rem;
}
#hd .navbar-toggler:focus {
  outline: none;
}
#hd .collapse {
  display: none;
}
#hd .collapse.show {
  display: block;
}

.circle-button {
  width: 80px; /* 버튼의 너비 */
  height: 40px; /* 버튼의 높이 */
  background-color: #006838;
  border: none; /* 테두리 없음 */
  border-radius: 30px; /* 원형으로 만들기 */
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: pointer; /* 마우스 커서 변경 */
  transition: background-color 0.3s, transform 0.2s;
  bottom: 20px;
  right: 50px;
  padding: 8px 15px;
  z-index: 1;
}
.circle-button:hover {
  background-color: #92aa9c;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.circle-button a {
  font-size: 1rem; /* 글자 크기 */
  font-weight: bold;
  text-decoration: none;
  color: white; /* 글자색 */
}

.contentSection {
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;
}

#introbanner {
  z-index: 5;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  top: 0;
  left: 0;
  opacity: 1; /* 처음부터 보이도록 설정 */
  background-image: url("https://pawfectwave.vercel.app/img/main/Main_background1.jpg"); /* 기본 배경 이미지 설정 */
  background-size: cover;
}

#introbanner.fade-out {
  background: url("https://pawfectwave.vercel.app/img/main/Main_background1.jpg") no-repeat center center;
  background-size: cover;
  opacity: 1;
  height: 0;
}

#introbanner .hand, #introbanner .dog2 {
  position: absolute;
  opacity: 0;
  visibility: hidden; /* 처음에는 숨겨둡니다 */
}

.hand {
  width: 600px;
  top: 50%; /* 손이 화면의 중앙에 오도록 설정 */
  left: 50%;
  transform: translate(-50%, -50%); /* 중앙 정렬 */
  animation: handAnimation 5s ease-in-out forwards; /* 손 애니메이션 */
}

.dog2 {
  width: 300px;
  left: 50%;
  transform: translateX(-50%);
  animation: dogAnimation 3s ease-in-out forwards;
  animation-delay: 2s; /* 강아지가 2초 후에 내려오기 시작 */
}

@keyframes handAnimation {
  0% {
    opacity: 0;
    visibility: visible;
  }
  50% {
    opacity: 1;
  }
  100% {
    top: 50%;
    opacity: 0;
    visibility: hidden; /* 강아지가 사라짐 */
  }
}
@keyframes dogAnimation {
  0% {
    top: 60px;
    opacity: 0;
    visibility: visible;
  }
  50% {
    opacity: 1;
    top: 45%; /* 강아지가 화면 중앙으로 내려옴 */
  }
  100% {
    top: 45%;
    opacity: 0;
    visibility: hidden; /* 강아지가 사라짐 */
  }
}
.swiper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease-in-out;
}

.swiper.visible {
  opacity: 1;
  visibility: visible;
}

.slide {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease-in-out, visibility 0s 1s;
}

.slide.active {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s ease-in-out, visibility 0s;
}

.center-text {
  position: absolute;
  z-index: 10;
}

.maintext {
  font-size: 100px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  margin-bottom: 150px;
}

.subtext {
  font-size: 40px;
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.left-btn, .right-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  color: white;
  border: none;
  font-size: 30px;
  opacity: 0.7;
  z-index: 20;
  padding: 10px 20px;
}

.left-btn {
  left: 20px;
}

.right-btn {
  right: 20px;
}

#jh h1, h2 {
  font-family: "Paperlogy 4 Regular";
  font-weight: 400;
}

#jh h1 {
  font-size: 30px;
  color: #006838;
  margin-bottom: 40px;
}

#jh h2 {
  font-size: 18px;
  color: #1E1E1E;
  margin-bottom: 15px;
}

#jh p {
  color: rgba(30, 30, 30, 0.7);
  font-family: "Paperlogy 3 Light";
  font-size: 18px;
  font-weight: 300;
}

.btn_petros {
  margin-top: 24px;
  font-family: "Noto Sans KR";
  width: 130px;
  height: 30px;
  color: #1E1E1E;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
  background-color: #FFF;
  padding-bottom: 5px;
  border: none;
}

.petros {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.petros_wave {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.petros img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.petros_wave img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.petrossize {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

/* 텍스트 오른쪽 정렬 */
.text-box.text-end {
  text-align: right;
  padding-right: 130px;
}

/* 텍스트 왼쪽 정렬 */
.text-box.text-start {
  text-align: left;
  padding-left: 50px;
}

.partner_list {
  padding: 60px 0;
}
.partner_list .partner_marquee {
  width: 100%;
  height: 220px;
  overflow: hidden;
  position: relative;
  margin: 30px 0;
}
.partner_list .partner_marquee div {
  display: flex;
  height: 100%;
  position: absolute;
  overflow: hidden;
}
.partner_list .partner_marquee#partner_marquee1 div {
  width: 7560px;
  animation: partner_marquee1 45s linear infinite;
  left: 0;
}
.partner_list .partner_marquee#partner_marquee2 div {
  width: 7560px;
  animation: partner_marquee2 45s linear infinite;
  right: 0;
}
.partner_list .partner_marquee span {
  height: 100%;
  width: 270px;
  height: 220px;
  position: relative;
  display: block;
}
.partner_list .partner_marquee#partner_marquee1 div span:nth-of-type(14n - 14) {
  background: url("http://petforest.co.kr/wp-content/themes/petforest/images/pt_logo_07_w.png") no-repeat 50% 50%;
  background-size: contain;
}
.partner_list .partner_marquee#partner_marquee1 div span:nth-of-type(14n - 13) {
  background: url("http://petforest.co.kr/wp-content/themes/petforest/images/pt_logo_01_w.png") no-repeat 50% 50%;
  background-size: contain;
}
.partner_list .partner_marquee#partner_marquee1 div span:nth-of-type(14n - 12) {
  background: url("http://petforest.co.kr/wp-content/themes/petforest/images/pt_logo_02_w.png") no-repeat 50% 50%;
  background-size: contain;
}
.partner_list .partner_marquee#partner_marquee1 div span:nth-of-type(14n - 11) {
  background: url("http://petforest.co.kr/wp-content/themes/petforest/images/pt_logo_03_w.png") no-repeat 50% 50%;
  background-size: contain;
}
.partner_list .partner_marquee#partner_marquee1 div span:nth-of-type(14n - 10) {
  background: url("http://petforest.co.kr/wp-content/themes/petforest/images/pt_logo_04_w.png") no-repeat 50% 50%;
  background-size: contain;
}
.partner_list .partner_marquee#partner_marquee1 div span:nth-of-type(14n - 9) {
  background: url("http://petforest.co.kr/wp-content/themes/petforest/images/pt_logo_05_w.png") no-repeat 50% 50%;
  background-size: contain;
}
.partner_list .partner_marquee#partner_marquee1 div span:nth-of-type(14n - 8) {
  background: url("http://petforest.co.kr/wp-content/themes/petforest/images/pt_logo_08_w.png") no-repeat 50% 50%;
  background-size: contain;
}
.partner_list .partner_marquee#partner_marquee1 div span:nth-of-type(14n - 7) {
  background: url("http://petforest.co.kr/wp-content/themes/petforest/images/pt_logo_12_w.png") no-repeat 50% 50%;
  background-size: contain;
}
.partner_list .partner_marquee#partner_marquee1 div span:nth-of-type(14n - 6) {
  background: url("http://petforest.co.kr/wp-content/themes/petforest/images/pt_logo_13_w.png") no-repeat 50% 50%;
  background-size: contain;
}
.partner_list .partner_marquee#partner_marquee1 div span:nth-of-type(14n - 5) {
  background: url("http://petforest.co.kr/wp-content/themes/petforest/images/pt_logo_14_w.png") no-repeat 50% 50%;
  background-size: contain;
}
.partner_list .partner_marquee#partner_marquee1 div span:nth-of-type(14n - 4) {
  background: url("http://petforest.co.kr/wp-content/themes/petforest/images/pt_logo_15_w.png") no-repeat 50% 50%;
  background-size: contain;
}
.partner_list .partner_marquee#partner_marquee1 div span:nth-of-type(14n - 3) {
  background: url("http://petforest.co.kr/wp-content/themes/petforest/images/pt_logo_16_w.png") no-repeat 50% 50%;
  background-size: contain;
}
.partner_list .partner_marquee#partner_marquee1 div span:nth-of-type(14n - 2) {
  background: url("http://petforest.co.kr/wp-content/themes/petforest/images/pt_logo_17_w.png") no-repeat 50% 50%;
  background-size: contain;
}
.partner_list .partner_marquee#partner_marquee1 div span:nth-of-type(14n - 1) {
  background: url("http://petforest.co.kr/wp-content/themes/petforest/images/pt_logo_09_w.png") no-repeat 50% 50%;
  background-size: contain;
}
.partner_list .partner_marquee#partner_marquee1 div span:nth-of-type(14n) {
  background: url("http://petforest.co.kr/wp-content/themes/petforest/images/pt_logo_10_w.png") no-repeat 50% 50%;
  background-size: contain;
}
@keyframes partner_marquee1 {
  0% {
    left: 0;
  }
  100% {
    left: -3780px;
  }
}
@keyframes partner_marquee2 {
  0% {
    right: 0;
  }
  100% {
    right: -3780px;
  }
}
@media screen and (max-width: 1024px) {
  .partner_list {
    padding: 0 0 10vw;
  }
  .partner_list .partner_marquee {
    height: 176px;
  }
  .partner_list .partner_marquee #partner_marquee1 div {
    width: 6048px;
    animation: partner_marquee1 45s linear infinite;
    left: 0;
  }
  .partner_list .partner_marquee #partner_marquee2 div {
    width: 6048px;
    animation: partner_marquee2 45s linear infinite;
    right: 0;
  }
  .partner_list .partner_marquee #partner_marquee1 span,
  .partner_list .partner_marquee #partner_marquee2 span {
    width: 216px;
    height: 176px;
  }
  @keyframes partner_marquee1 {
    0% {
      left: 0;
    }
    100% {
      left: -3024px;
    }
  }
  @keyframes partner_marquee2 {
    0% {
      right: 0;
    }
    100% {
      right: -3024px;
    }
  }
}
@media screen and (max-width: 640px) {
  .partner_list .partner_marquee {
    height: 132px;
  }
  .partner_list .partner_marquee#partner_marquee1 div {
    width: 4536px;
    animation: partner_marquee1 45s linear infinite;
    left: 0;
  }
  .partner_list .partner_marquee#partner_marquee2 div {
    width: 4536px;
    animation: partner_marquee2 45s linear infinite;
    right: 0;
  }
  .partner_list .partner_marquee#partner_marquee1 span, .partner_list .partner_marquee#partner_marquee2 span {
    width: 162px;
    height: 132px;
  }
  @keyframes partner_marquee1 {
    0% {
      left: 0;
    }
    100% {
      left: -2268px;
    }
  }
  @keyframes partner_marquee2 {
    0% {
      right: 0;
    }
    100% {
      right: -2268px;
    }
  }
}

.faqtext {
  font-size: 2.5rem;
}

@media only screen and (min-width: 768px) {
  .faqwrap {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 0;
  }
}
@media only screen and (min-width: 768px) and (min-width: 768px) {
  .faqwraptitle {
    font-size: 32px;
    letter-spacing: -0.1px;
    font-family: "Roboto" !important;
    display: block;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 16px;
    line-height: 43px;
  }
}
@media only screen and (min-width: 768px) {
  .faqwraptitlesub {
    margin: 0 0 60px 0;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 60px;
    text-align: center;
    line-height: 22px;
    letter-spacing: -0.5px;
    color: #2A303C;
    margin-top: 0;
  }
}
.faqwrap {
  margin-top: 200px; /* 상단에서 충분히 떨어지도록 설정 */
  width: 100px;
  max-width: 1200px;
}

html, body {
  height: 100%;
  margin: 0;
  overflow-y: auto; /* 스크롤 활성화 */
}

section {
  min-height: 100vh; /* 화면의 최소 높이를 100vh로 설정 */
  flex-direction: column;
}

.container, .faqwrap {
  flex-grow: 1; /* 남는 공간을 채우도록 설정 */
}

.faq-section {
  max-width: 1000px;
  margin: 0 auto;
}
.faq-section .faq-item {
  border-top: 1px solid #ddd;
  padding: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.faq-section .faq-item:hover {
  background-color: #f3f3f3; /* 호버 시 배경색 변경 */
}
.faq-section .faq-item .faq-title {
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.faq-section .faq-item .btn .btn-outline-secondary {
  font-size: 1rem;
}
.faq-section .faq-item .category {
  color: #777;
  flex: 0 0 100px;
}
.faq-section .faq-item .question {
  flex-grow: 1;
}
.faq-section .faq-item .arrow {
  width: 8px;
  height: 8px;
  border-left: 2px solid gray;
  border-bottom: 2px solid gray;
  transform: rotate(-45deg); /* 아래쪽 화살표 스타일 */
  margin-right: 10px;
  transition: transform 0.3s ease;
}
.faq-section .faq-item .faq-content {
  display: none;
  padding-top: 10px;
  font-size: 14px;
  color: #555;
}
.faq-section .faq-item .faq-content.active {
  display: block;
}

.pagination {
  justify-content: center;
  display: flex;
  list-style-type: none;
  padding: 0;
}

.pagination li {
  margin: 0 5px;
}

.pagination li a {
  padding: 10px 15px;
  background-color: #f0f0f0;
  border-radius: 5px;
  text-decoration: none;
  color: #333;
}

.pagination li a:hover {
  background-color: #ddd;
}

.pagination li.active a {
  background-color: #006838;
  color: white;
}