.brend_text_top{
    font-family:"Paperlogy"; 
    font-size: 27px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 200px;
}
.brend_text_middle{
    font-family: "Paperlogy";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.brend_text_bottom{
    font-family: "Paperlogy";
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}